mat-form-field {
  width: 100%;
}

.change_pass_info {
  font-size: 12px;

  span {
    font-weight: bold;
    font-size: 13px;
  }
}

.card {
  width: 50%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

button {
  align-self: flex-start;
  margin-top: 10px;
}
