<div class="card">
  <div class="header">
    <div class="title">{{ 'HEADER.CHANGING_PASSWORD' | translate }}</div>
  </div>
  <div class="body">
    <p class="change_pass_info"><span>{{'USER.NOTE' | translate}}</span>{{'USER.SESSION_EXPIRY_ON_PASS_CHANGE' | translate}}</p>
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="{{'USER.OLD_PASSWORD' | translate}}"
          name="oldPassword"
          formControlName="oldPassword">
        <mat-error *ngIf="passwordFormGroup.controls.oldPassword.errors?.required && passwordFormGroup.controls.oldPassword.touched">{{'USER.OLD_PASSWORD_REQUIRED' | translate}}</mat-error>
      </mat-form-field>
      <div [formGroup]="passwordChange" fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="{{'USER.NEW_PASSWORD' | translate}}"
            name="password"
            formControlName="password">
          <mat-error *ngIf="passwordChange.controls.password.errors?.required && passwordChange.controls.password.touched">{{'USER.PASSWORD_REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="{{'USER.CONFIRM_PASSWORD' | translate}}"
            name="confirmPassword"
            formControlName="confirmPassword">
          <mat-error *ngIf="passwordChange.errors?.doesMatchPassword">{{'USER.PASSWORD_NO_MATCH' | translate}}</mat-error>
          <mat-error *ngIf="passwordChange.controls.confirmPassword.errors?.required && passwordChange.controls.confirmPassword.touched">{{'USER.CONFIRM_PASSWORD_REQUIRED' | translate}}</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="btn" [disabled]="!passwordFormGroup.valid">{{'BUTTONS.CHANGE_PASSWORD' | translate}}</button>
    </form>
  </div>
</div>
