<div class="card">
  <div class="header">
    <div class="title">{{ 'HEADER.USERS_LIST' | translate }}</div>
  </div>
  <div class="body datatable">
    <div class="responsive-table">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USER.USERNAME' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_active">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'COMMON.IS_ACTIVE' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.disabled ? ('COMMON.NO' | translate) : ('COMMON.YES' | translate)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <!-- TODO check what to do here -->
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;" class="actions">
            <button *ngIf="adminClaims.can_disable && !row.disabled" mat-icon-button class="icon-btn" color="primary" (click)="deleteUser(i, row.id, row.username)">
              <mat-icon aria-label="Disable">not_interested</mat-icon>
            </button>
            <button *ngIf="row.disabled" mat-icon-button class="icon-btn" color="primary" (click)="activateUser(i, row.id, row.username)">
              <mat-icon aria-label="Activate">done</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      {{'USER.NO_RESULTS' | translate}}
    </div>

    <div class="controls">
      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent" class="filter">
          <input matInput #filter placeholder="{{'USER.FILTER_USER' | translate}}">
        </mat-form-field>

        <mat-form-field floatPlaceholder="never" color="accent" class="filter">
          <mat-select [(value)]="filterActiveState" (selectionChange)="chooseActiveState($event.value)">
            <mat-option *ngFor="let activeState of activeStates" [value]="activeState.value">
              {{activeState.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-paginator
        #paginator
        [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </div>
  </div>
</div>
