<div class="full-background">
  <div class="mini-container">
    <div class="centered">
      <img src="/assets/images/logo.png" alt="Skycoin">
      <h1>{{'COMMON.APP_TITLE' | translate}}</h1>
    </div>

    <form class="dark-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="resetPass" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <span matPrefix><mat-icon class="login-icon">email</mat-icon></span>
        <input
        type="email"
        matInput
        placeholder="{{'USER.USER_EMAIL' | translate}}"
        formControlName="email">
        <mat-error>{{'USER.INVALID_EMAIL' | translate}}</mat-error>
      <!--   TODO consider is needed, resetPassword is not defined <p *ngIf="resetPassword">Check your email to reset password!</p>-->
      </mat-form-field>
      <div class="buttons">
        <a routerLink="/" class="forgot"><mat-icon>chevron_left</mat-icon></a>
        <button class="btn big" type="submit" [disabled]="resetPass.invalid">{{'BUTTONS.RESET_PASSWORD' | translate}}</button>
      </div>
    </form>
  </div>
</div>
